
/*note # colours are place holders */

:root {
--primary-color: #000000;
--secondary-color: #ffffff;
--accent-color: #000000;
--content-bg-color: #000000;
--content-secondary-color: #000000;
}

.spring {
--primary-color: #00ff00;
--secondary-color: #ffffff;
--accent-color: ;
--content-bg-color: ;
--content-secondary-color: ;
}

.summer {
--primary-color: #ff0000;
--secondary-color: #ffffff;
--accent-color: ;
--content-bg-color: ;
--content-secondary-color: ;
}

.fall {
--primary-color: #ff9900;
--secondary-color: #ffffff;
--accent-color: ;
--content-bg-color: ;
--content-secondary-color: ;
}

.winter {
--primary-color: #0000ff;
--secondary-color: #ffffff;
--accent-color: ;
--content-bg-color: ;
--content-secondary-color: ;
}


/* chart and inputs */
#pieChart {
    border: 1px solid #ccc;
    background-color: #f5f5f5;
  }
  
  circle {
    opacity: 100;
  }

  svg {
    background-color: white;
    border: white
  }

.btn-primary {
    background: transparent;
    border: none;
}

.btn-primary:hover {
    background: white;
}


.input-group {
    margin: 10px;
    width: 20%;
}

.large-chart {
    align-items: center;
}



/* TODO LIST and NOTES *** keep on right side *** */
h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .input-group {
    margin-bottom: 10px;
  }
  .form-control {
    border-radius: 0;
  }
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  .btn-primary:hover {
    background-color: h2 {
      background-color: h2
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .input-group {
        margin-bottom: 10px;
      }
      .form-control {
        border-radius: 0;
      }
      .btn-primary {
        background-color: #000000;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
      }
      .btn-primary:hover {
        background-color: #000000;
      }
      #notes-input {
        resize: none;
      }
  }
  #notes-input {
    resize: none;
  }
