/* Note: Replace the placeholder colors with desired values */

:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --accent-color: #000000;
  --content-bg-color: #000000;
  --content-secondary-color: #000000;
}

.spring {
  --primary-color: #F9CFD7;         
  --secondary-color: #78C2AD;       
  --accent-color: #FFD700;          
  --content-bg-color: #F4F4F4;      
  --content-secondary-color: #E0E0E0;  
}

.summer {
  --primary-color: #FFC107;         
  --secondary-color: #21B6A8;       
  --accent-color: #FF5252;          
  --content-bg-color: #FAFAFA;      
  --content-secondary-color: #CCCCCC;  
}
.fall {
  --primary-color: #C0392B;         
  --secondary-color: #F4D03F;       
  --accent-color: #8B4513;          
  --content-bg-color: #F8F8F8;      
  --content-secondary-color: #E0E0E0;  
}

.winter {
  --primary-color: #004E7C;         
  --secondary-color: #FFFFFF;       
  --accent-color: #9C3848;          
  --content-bg-color: #F5F5F5;     
  --content-secondary-color: #E0E0E0;  
}

/*  Body Style */
/* Gradient Background for Body */
body {
  background: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

#navbar{}


h2{
  position: relative;
  font-size: larger;
  color: var(--accent-color);
  -webkit-text-stroke: 0.03vw var(--primary-color);
  text-transform: uppercase;
}
h2::before{
  content: attr(data-text);
  position: absolute;
  top:0;
  left: 0;
  width: 0%;
  height: 100%;
  color: var(--content-secondary-color);
  -webkit-text-stroke: 0vw var(--primary-color);
  border-right: 2px solid var(--accent-color);
  overflow: hidden;
  animation: animate 4s linear infinite;
}
@keyframes animate{
  0%
  {
    width: 0;
  }
  70%
  {
    width: 100%;
  }
}



/*  Left Column Style  */

#pieChart {
  background-color: transparent;
}

circle {
  opacity: 100;
}

svg {
  background-color: transparent;
}
.input-group {
  margin: 10px;
  width: 20%;
}

.large-chart {
  align-items: center;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 10px;
}

.form-control {
  border-radius: 0;
}

.btn-primary {
  background: transparent;
  border: none;
}

/*  Ceneter Column Style */





/* Right Column Style  */
.btn-primary {
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--accent-color);
}

#notes-input {
  resize: none;
}


/*  Footer Style */
